/* DashboardNavbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Navbar background color */
  padding: 10px 20px; /* Adjust padding as needed */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px; /* Adjust the width of the logo as needed */
  height: 40px; /* Adjust the height of the logo as needed */
  margin-right: 10px; /* Add margin between logo and text */
}

.navbar-right {
  display: flex;
  align-items: center;
}

/* Style for the dropdown (you can customize as needed) */
.dropdown {
  position: relative;
}

.dropbtn {
  background-color: #555; /* Dropdown button background color */
  color: white; /* Dropdown button text color */
  padding: 10px 15px; /* Adjust padding as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; /* Dropdown content background color */
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black; /* Dropdown content text color */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Add this to your DashboardNavbar.css */

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left img {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 10%;
  margin-right: 10px;
  border: 2px solid #fff;
}